.mb-sm {
  margin-bottom: var(--space-3);
}

.mb-lg {
  margin-bottom: var(--space-7);

  @include respond(phone) {
    margin-bottom: var(--space-5);
  }
}

.mb-hg {
  margin-bottom: var(--space-10);

  @include respond(phone) {
    margin-bottom: var(--space-7);
  }
}

.svg-fill {
  fill: var(--color-primary);
}

.svg-empty {
  fill: var(--color-background-light);
  stroke: var(--color-gray-light);
  stroke-width: 0.12rem;
}

.svg-gray {
  fill: var(--color-gray-light);
}

.message-container {
  padding: var(--space-12) var(--space-5) var(--space-10);
  background-image: linear-gradient(
    to bottom,
    var(--color-primary-light),
    var(--color-primary)
  );

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    padding: var(--space-4);
    background-color: var(--color-background-light);
  }
}

.center-element {
  margin: auto;
  font-size: var(--font-size-l);
  position: relative;
  z-index: 0;
}
