// MEDIA QUERIES

/*
0-600px -> phone
600-900px -> tab-port
900-1200px -> tab-land
>1800px -> large-screen
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (width <= 37.5em) {
      // 600px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (width <= 56.25em) {
      // 900px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (width <= 75em) {
      // 1200px
      @content;
    }
  }

  @if $breakpoint == large-screen {
    @media (width >= 112.5em) {
      // 1800px
      @content;
    }
  }
}

@mixin bg-image($direction) {
  @if $direction == top {
    background-image: linear-gradient(
        to top,
        rgba(var(--color-background-rgb), 0.85),
        10%,
        rgba(var(--color-background-light-rgb), 0.85)
      ),
      url('/src/img/background.webp');
  }

  @if $direction == bottom {
    background-image: linear-gradient(
        to bottom,
        rgba(var(--color-background-rgb), 0.85),
        10%,
        rgba(var(--color-background-light-rgb), 0.85)
      ),
      url('/src/img/background.webp');
  }

  background-size: cover;
  background-position: center;
  backdrop-filter: blur(1.2rem);

  &::after {
    content: '';
    height: 100%;
    width: 100%;
    z-index: var(--z-index-lvl-neg-1);
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(1.5rem);
  }
}

@mixin modal-container {
  position: fixed; // relative to viewport
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(var(--color-shadow-rgb), 0.3);
  z-index: var(--z-index-lvl-4);
  visibility: hidden;
  opacity: 0;
  overflow: hidden;

  &--active {
    visibility: visible;
    opacity: 1;
  }

  &::after {
    display: block;
    content: '';
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    backdrop-filter: blur(0.4rem);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-lvl-neg-1);
  }
}

@mixin scroll-bar {
  &::-webkit-scrollbar {
    width: 0.8rem;

    &-track {
      background: rgba(var(--color-gray-dark-rgb), 0.75);
      border-radius: 2rem;
    }

    &-thumb {
      background: rgba(var(--color-gray-light-rgb), 1);
      border-radius: 2rem;
    }
  }
}
