:root {
  // COLOR-VARIABLES
  --color-primary: #0ea5e9; // sky 500
  --color-primary-dark: #0284c7; // sky 600
  --color-primary-light: #38bdf8; // sky 400
  --color-primary-contrast: #e67d22; // Primary's Contrast
  --color-gray-dark: #4b5563; // Gray 600
  --color-gray-light: #d1d5db; // Gray 300
  --color-text-dark: #075985; // Sky 950
  --color-text-light: #f0f9ff; // Sky 50
  --color-background-light: #f0f9ff; // Sky 50
  --color-background: #e0f2fe; // Sky 100
  --color-shadow: #030712; // Gray 950
  --color-border-light: ##f0f9ff; // Sky 50
  --color-border-dark: #075985; // Gray 600
  --color-red: #f87171; // Red 400
  --color-pink: #ec4899; // Pink 500
  --color-indigo: #6366f1; // Indigo 500
  --color-blue: #3b82f6; // Blue 500

  // FONT-VARIABLES
  --font-size-s: 1.4rem;
  --font-size-m: 1.6rem;
  --font-size-l: 1.8rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 2.4rem;
  --font-size-3xl: 3.2rem;
  --font-size-4xl: 4rem;
  --font-size-5xl: 4.4rem;
  --font-primary: 'Dosis', sans-serif;

  // Space Variables -> base unit: 8px
  // space-1*8=8px
  --space-neg-1: -1rem;
  --space-0: 0rem;
  --space-05: 0.4rem;
  --space-1: 0.8rem;
  --space-2: 1.6rem;
  --space-3: 2.4rem;
  --space-4: 3.2rem;
  --space-5: 4rem;
  --space-7: 5.6rem;
  --space-8: 6.4rem;
  --space-10: 8rem;
  --space-12: 9.6rem;

  // Z-index
  --z-index-lvl-neg-1: -1;
  --z-index-lvl-1: 1;
  --z-index-lvl-2: 2;
  --z-index-lvl-3: 10;
  --z-index-lvl-4: 50;
}
