.section-bookmarks {
  padding: var(--space-12) var(--space-5) var(--space-10);
  background-image: linear-gradient(
    to bottom,
    var(--color-primary-light),
    var(--color-primary)
  );

  @include respond(tab-land) {
    padding: var(--space-12) var(--space-3) var(--space-4);
  }

  @include respond(tab-port) {
    padding: var(--space-12) var(--space-0) var(--space-7);
  }

  @include respond(phone) {
    padding: var(--space-10) var(--space-0) var(--space-7);
  }

  &__tab-container {
    text-align: center;

    &__tab {
      transform: translateY(1rem);
      z-index: var(--z-index-lvl-1);
      position: relative;
      transition: all 0.2s;

      &:hover {
        box-shadow: none;
        transform: translateY(0.8rem);
      }

      &:active {
        transform: translateY(1rem);
      }

      &--active {
        background-image: linear-gradient(
          to right,
          var(--color-background) 80%,
          var(--color-background-light) 100%
        );
        color: var(--color-gray-dark);
      }
    }
  }

  &__container {
    padding: var(--space-5);
    z-index: var(--z-index-lvl-2);
    position: relative;
    background-image: linear-gradient(
      to right,
      var(--color-background) 80%,
      var(--color-background-light) 100%
    );
    min-height: 75vh;

    @include respond(phone) {
      padding: var(--space-05) var(--space-0);
    }
  }

  &__content {
    display: none;
    min-height: 60vh;

    &--active {
      display: flex;
      flex-wrap: wrap;
      padding: 0 var(--space-3);
      margin-top: var(--space-4);
      width: 100%;
      max-height: 100vh;
      overflow-y: auto;
      list-style: none;

      @include respond(phone) {
        padding: 0;
      }

      &::-webkit-scrollbar {
        background-color: var(--color-background);
        width: 1.1rem;

        @include respond(phone) {
          width: 0.5rem;
        }

        &-track {
          background: var(--color-primary-light);
          border-radius: 1rem;
        }

        &-thumb {
          border-radius: 1rem;
          background: var(--color-background);
          border: 1px solid var(--color-primary-light);

          &:hover {
            background: var(--color-background-light);
          }
        }
      }
    }
  }

  &__model {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(3 7 18 / 70%);
    z-index: var(--z-index-lvl-3);

    &--active {
      visibility: visible;
    }

    &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--color-gray-dark);
      height: 40vh;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: var(--space-4);

      @include respond(phone) {
        height: 40vh;
        width: 80%;
      }

      &__heading {
        color: var(--color-text-light);
        margin-bottom: var(--space-4);
      }

      &__btn-container {
        display: flex;
        justify-content: space-around;
        min-width: 20rem;
      }

      &__btn {
        &--yes {
          background-color: var(--color-red);
        }
      }
    }
  }
}
