.section-bookmarks {
  &__header-bg {
    @include bg-image(top);

    padding-top: var(--space-header);
  }

  &__tab-container {
    display: flex;
    justify-content: center;
    align-items: center;

    &__link {
      width: 100%;
      text-decoration: none;
    }

    &__tab {
      width: 100%;
      border: none;
      font-size: var(--font-size-l);
      color: var(--color-text-dark);
      background-color: var(--color-background-light);
      box-shadow: 1rem 0.2rem 1rem rgba(var(--color-shadow-rgb), 0.1);
      border-bottom: 0 solid rgba(var(--color-gray-light-rgb), 0);
      cursor: pointer;
      transition: all 0.2s;
      position: relative;
      padding: var(--space-2) var(--space-0);

      &:hover {
        box-shadow: 1rem 0.3rem 1.4rem rgba(var(--color-shadow-rgb), 0.1);
      }

      &::after {
        display: block;
        content: '';
        height: 3px;
        width: 0%;
        background-color: rgba(var(--color-primary-rgb), 0.55);
        position: absolute;
        bottom: -0.3rem;
        transition: all 0.3s;
      }

      &--active {
        &::after {
          width: 100%;
        }
      }

      &--1 {
        &::after {
          right: 0;
        }
      }
    }
  }

  &__container {
    max-width: 120rem;
    margin: auto;
    width: 100%;
    background-color: var(--color-background-light);
    padding: var(--space-5) var(--space-4) var(--space-8);
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-port) {
      padding: var(--space-2) var(--space-0) var(--space-5);
    }

    @include respond(tab-port) {
      padding: var(--space-2) var(--space-3) var(--space-5);
    }

    @include respond(phone) {
      padding: var(--space-2) var(--space-2) var(--space-5);
    }
  }

  &__content {
    display: none;
    min-height: 75vh;
    align-self: center;

    @include respond(phone) {
      padding: var(--space-3) var(--space-0);
    }

    &--active {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: center;
      align-items: flex-start;
      gap: var(--space-4);

      @include respond(phone) {
        gap: var(--space-2);
      }
    }
  }

  &__modal {
    @include modal-container;

    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: var(--space-4);
      width: 80%;
      max-width: 40rem;
      border-radius: 2rem;
      overflow: hidden;
      transition: all 0.2s;

      @include bg-image(top);

      &__heading {
        color: var(--color-gray-dark);
        margin-bottom: var(--space-4);
      }

      &__btn-container {
        display: flex;
        justify-content: space-around;
        min-width: 20rem;
      }

      &__btn {
        &--yes {
          background-color: var(--color-red);
        }
      }
    }
  }
}
