.section-book-view {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--space-header) + var(--space-7)) var(--space-0)
    var(--space-0);

  @include respond(phone) {
    padding: calc(var(--space-header) + var(--space-4)) var(--space-0)
      var(--space-0);
  }

  @include bg-image(top);

  &__main-info-container {
    max-width: 85rem;
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    justify-content: space-around;
    background-color: var(--color-background-light);
    padding: var(--space-5);
    border-radius: 4rem;
    box-shadow: 0.4rem 0.2rem 1.6rem rgba(var(--color-shadow-rgb), 0.1);
    margin: 0 var(--space-5);

    @include respond(tab-land) {
      width: 70%;
    }

    @include respond(tab-port) {
      min-width: 85%;
    }

    @include respond(phone) {
      border-radius: 0;
      flex-wrap: wrap;
      min-width: none;
      padding: var(--space-5) var(--space-3);
      max-width: none;
      width: 100%;
    }

    &__img {
      flex: 0 0 40%;
      min-height: 24rem;
      text-align: center;
      align-self: center;

      @include respond(phone) {
        min-height: 22rem;
        margin-bottom: var(--space-4);
      }

      img {
        min-width: 24rem;
        box-shadow: 0.8rem 0.8rem 1.6rem rgba(var(--color-shadow-rgb), 0.2);

        @include respond(phone) {
          min-width: 22rem;
        }
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      &--up {
        &__rating {
          display: flex;
          margin-top: var(--space-1);
          align-items: center;

          & span {
            display: inline-block;
            margin-left: var(--space-1);
            font-size: var(--font-size-m);
          }

          &__svg {
            display: inline-block;
            fill: var(--color-primary-dark);
            height: 1.6rem;
            width: 1.6rem;
            margin-left: var(--space-05);
          }
        }
      }

      &--down {
        max-width: 80%;

        @include respond(phone) {
          max-width: none;
          width: 100%;
        }

        &__category-heding {
          margin: var(--space-2) 0 var(--space-1);
        }

        &__category-text {
          background-image: linear-gradient(
            to right,
            var(--color-gray-light) 70%,
            var(--color-gray-light)
          );
          color: var(--color-text-light);
          font-weight: 900;
          font-size: var(--font-size-m);
          display: inline-block;
          padding: var(--space-05) var(--space-1);
          margin: var(--space-05) var(--space-0);
          border-radius: 1rem;

          @include respond(phone) {
            font-size: var(--font-size-s);
            padding: var(--space-05) var(--space-1);
            margin: var(--space-05) var(--space-0);
          }
        }
      }

      &--button-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--space-1);
        margin: var(--space-2) var(--space-1) 0 0;
      }

      &--button {
        display: block;
        text-decoration: none;
      }

      &--button-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        transition: all 0.2s;
        background-color: inherit;
        box-shadow: 0 0.2rem 1rem rgba(var(--color-shadow-rgb), 0.2);
        margin-left: var(--space-2);
        padding: var(--space-1);
        border-radius: 1rem;

        @include respond(tab-port) {
          margin-left: var(--space-05);
        }

        &:hover {
          box-shadow: 0 0.8rem 2.4rem rgba(var(--color-shadow-rgb), 0.2);
          transform: translateY(-0.25rem);
        }

        &:active {
          box-shadow: 0 0.4rem 1.4rem rgba(var(--color-shadow-rgb), 0.2);
          transform: translateY(-0.03rem);
        }

        & svg {
          display: block;
          width: 2.8rem;
          height: 2.8rem;
        }
      }
    }
  }

  &__detail {
    background-color: var(--color-background-light);
    padding: 0 0 var(--space-12);
    margin: var(--space-8) 0 0;
    width: 100%;

    @include respond(tab-port) {
      margin: var(--space-7) 0 0;
    }

    &__tab-container {
      display: flex;
      justify-content: center;
      align-items: center;

      &__tab {
        width: 100%;
        border: none;
        font-size: var(--font-size-l);
        color: var(--color-text-dark);
        background-color: var(--color-background-light);
        box-shadow: 1rem 0.2rem 1rem rgba(var(--color-shadow-rgb), 0.1);
        border-bottom: 0 solid rgba(var(--color-gray-light-rgb), 0);
        cursor: pointer;
        transition: all 0.2s;
        position: relative;
        padding: var(--space-2) var(--space-0);

        &:hover {
          box-shadow: 1rem 0.3rem 1.4rem rgba(var(--color-shadow-rgb), 0.1);
        }

        &::after {
          display: block;
          content: '';
          height: 3px;
          width: 0%;
          background-color: rgba(var(--color-primary-rgb), 0.55);
          position: absolute;
          bottom: -0.3rem;
          transition: all 0.3s;
        }

        &--active {
          &::after {
            width: 100%;
          }
        }

        &--1 {
          &::after {
            right: 0;
          }
        }
      }
    }

    &__content {
      padding: var(--space-2) var(--space-8);
      margin: var(--space-4) auto 0;
      width: 75%;
      display: none;

      @include respond(tab-port) {
        width: 80%;
        padding: var(--space-2) var(--space-4);
      }

      @include respond(phone) {
        padding: var(--space-1) var(--space-2);
        width: 100%;
      }

      &--1 {
        &__text,
        & p {
          display: inline-block;
          padding: var(--space-0) var(--space-4);

          @include respond(phone) {
            width: 100%;
            padding: var(--space-0) var(--space-2);
          }
        }

        & b {
          display: inline-block;
          padding: 0;
          margin: 0;
        }
      }

      &--2 {
        &__table {
          width: 40%;
          max-width: 30rem;
          border-collapse: collapse;
          font-size: var(--font-size-m);
          margin: var(--space-1) auto;
          display: table;

          @include respond(tab-port) {
            width: 50%;
          }

          @include respond(phone) {
            width: 70%;
          }

          & td {
            padding: var(--space-1);
            border-bottom: 1px solid var(--color-gray-light);
            color: var(--color-gray-dark);
            text-align: left;
          }

          & th {
            border-bottom: 1px solid var(--color-gray-light);
            color: var(--color-primary);
            padding: var(--space-1);
            text-align: left;
          }
        }
      }

      &--active {
        display: block;
      }

      &--active-table {
        display: table;
      }
    }
  }
}
