.section-book-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-7) var(--space-0) var(--space-0);
  background-image: linear-gradient(
      60deg,
      rgb(224 242 254 / 85%) 50%,
      rgb(224 242 254 / 85%) 50%
    ),
    url('/src/img/background.webp');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(1.5rem);

  @include respond(phone) {
    padding: var(--space-5) var(--space-0) var(--space-0);
  }

  &::after {
    content: '';
    height: 100%;
    width: 100%;
    z-index: var(--z-index-lvl-neg-1);
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(1.5rem);
  }

  &__main-info-container {
    max-width: 80%;
    min-width: 55%;
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    justify-content: space-around;
    background-color: var(--color-background-light);
    padding: var(--space-5);
    border-radius: 4rem;

    @include respond(tab-port) {
      min-width: 80%;
    }

    @include respond(phone) {
      flex-wrap: wrap;
      min-width: none;
      padding: var(--space-5) var(--space-3);
      width: 95%;
      max-width: none;
    }

    &__img {
      flex: 0 0 40%;
      min-height: 24rem;
      text-align: center;
      align-self: center;

      @include respond(phone) {
        min-height: 22rem;
        margin-bottom: var(--space-4);
      }

      img {
        min-width: 24rem;
        box-shadow: 0.8rem 0.8rem 1.6rem rgba(var(--color-shadow-rgb), 0.2);

        @include respond(phone) {
          min-width: 22rem;
        }
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      &--up {
        &__rating {
          margin-top: var(--space-1);
        }
      }

      &--down {
        max-width: 80%;

        @include respond(phone) {
          max-width: none;
          width: 95%;
        }

        &__category-heding {
          margin: var(--space-2) 0 var(--space-1);
        }

        &__category-text {
          background-image: linear-gradient(
            to right,
            var(--color-gray-light) 70%,
            var(--color-gray-light)
          );
          color: var(--color-text-light);
          font-weight: 900;
          font-size: var(--font-size-m);
          display: inline-block;
          padding: var(--space-05) var(--space-1);
          margin: var(--space-05) var(--space-0);
          border-radius: 1rem;

          @include respond(phone) {
            font-size: var(--font-size-s);
            padding: var(--space-05) var(--space-1);
            margin: var(--space-05) var(--space-0);
          }
        }
      }

      &--button-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: var(--space-1);
      }

      &--button {
        display: block;
        align-self: flex-start;
        margin: var(--space-1) var(--space-2) var(--space-2) var(--space-0);
        text-decoration: none;
      }

      &--button-bookmark {
        display: block;
        cursor: pointer;
        border: none;
        border-radius: 10rem;
        width: 5rem;
        height: 5rem;
        transition: all 0.2s;
        background-color: inherit;
        box-shadow: 0 0.2rem 1rem rgba(var(--color-shadow-rgb), 0.2);
        margin-left: var(--space-2);

        @include respond(tab-port) {
          margin-left: var(--space-05);
        }

        &:hover {
          box-shadow: 0 0.8rem 2.4rem rgba(var(--color-shadow-rgb), 0.2);
          transform: translateY(-0.25rem);
        }

        &:active {
          box-shadow: 0 0.4rem 1.4rem rgba(var(--color-shadow-rgb), 0.2);
          transform: translateY(-0.03rem);
        }

        & svg {
          width: 3.2rem;
          height: 2.6rem;
        }
      }
    }
  }

  &__overview {
    background-color: var(--color-background-light);
    margin: var(--space-10) 0 0;
    padding: 0 0 var(--space-8);
    width: 100%;

    @include respond(tab-land) {
      margin: var(--space-8) 0 0;
    }

    @include respond(tab-port) {
      margin: var(--space-7) 0 0;
    }

    &__tab-container {
      display: flex;
      justify-content: center;
      align-items: center;

      &__tab {
        width: 100%;
        border: none;
        font-size: var(--font-size-l);
        color: var(--color-text-dark);
        background-color: var(--color-background-light);
        box-shadow: 1rem 0.2rem 1rem rgba(var(--color-shadow-rgb), 0.1);
        border-bottom: 0 solid rgba(var(--color-gray-light-rgb), 0);
        cursor: pointer;
        transition: all 0.2s;
        position: relative;
        padding: var(--space-2) var(--space-0);

        &:hover {
          box-shadow: 1rem 0.3rem 1.4rem rgba(var(--color-shadow-rgb), 0.1);
        }

        &::after {
          display: block;
          content: '';
          height: 3px;
          width: 0%;
          background-color: rgba(var(--color-gray-light-rgb), 0.35);
          position: absolute;
          bottom: -0.3rem;
          transition: all 0.3s;
        }

        &--active {
          &::after {
            width: 100%;
          }
        }

        &--1 {
          &::after {
            right: 0;
          }
        }
      }
    }

    &__content {
      padding: var(--space-2) var(--space-8);
      margin: var(--space-5) auto 0;
      width: 75%;
      display: none;

      @include respond(tab-port) {
        width: 80%;
        padding: var(--space-2) var(--space-7);
      }

      @include respond(phone) {
        width: 100%;
      }

      &--1 {
        &__heading {
          text-align: center;
          color: var(--color-primary-dark);
        }

        &__text,
        & p {
          display: block;
          margin: var(--space-2) auto;
          padding: var(--space-0) var(--space-4);
          max-height: 50vh;
          overflow-y: auto;

          @include respond(phone) {
            width: 100%;
            padding: var(--space-0) var(--space-2);
          }

          &::-webkit-scrollbar {
            width: 0.8rem;

            &-track {
              background: rgba(var(--color-gray-dark-rgb), 0.75);
            }

            &-thumb {
              background: rgba(var(--color-gray-light-rgb), 1);
            }
          }
        }
      }

      &--2 {
        &__heading {
          text-align: center;
          color: var(--color-primary-dark);
        }

        &__table {
          width: 40%;
          border-collapse: collapse;
          font-size: var(--font-size-m);
          margin: var(--space-1) auto;
          display: table;

          & td {
            padding: var(--space-1);
            margin: var(--space-12);
            border-bottom: 1px solid var(--color-gray-light);
            color: var(--color-gray-dark);
          }

          & th {
            border-bottom: 1px solid var(--color-gray-light);
            color: var(--color-primary);
            padding: var(--space-1);
          }
        }
      }

      &--active {
        display: block;
      }

      &--active-table {
        display: table;
      }
    }
  }
}
