.section-collection {
  position: relative;
  padding: calc(var(--space-header) + var(--space-4)) var(--space-4)
    var(--space-8);
  background-color: var(--color-background-light);
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(tab-port) {
    padding: calc(var(--space-header) + var(--space-4)) var(--space-3)
      var(--space-8);
  }

  @include respond(phone) {
    padding: calc(var(--space-header) + var(--space-4)) var(--space-1)
      var(--space-8);
  }

  @include bg-image(top);

  &__heading {
    text-align: center;
    max-width: 80%;
    text-transform: uppercase;
    margin: 0 auto var(--space-7);
    color: var(--color-text-dark);
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: rgba(var(--color-gray-light-rgb), 0.2);
    padding: var(--space-0) var(--space-4);
    border-radius: 0.8rem;

    @include respond(phone) {
      font-size: var(--font-size-3xl);
    }
  }

  &__content {
    margin-top: var(--space-2);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 75vh;
    list-style: none;
    gap: var(--space-5);
    position: relative;
    padding: var(--space-2) var(--space-4);

    @include respond(phone) {
      gap: var(--space-3);
      padding: 0;
    }

    &__share-btn {
      background: rgba(var(--color-gray-light-rgb), 0.1);
      position: absolute;
      top: -6rem;
      right: 6rem;
      box-shadow: 0 0.1rem 0.4rem rgba(var(--color-shadow-rgb), 0.15);

      @include respond(tab-port) {
        right: 5rem;
      }

      @include respond(phone) {
        right: 1.5rem;
      }

      &__svg {
        fill: var(--color-primary-dark);
        display: block;
        height: 2rem;
        width: 2rem;
      }
    }
  }
}

.custom-alert,
.custom-alert-red {
  position: fixed;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-text-light);
  padding: var(--space-1) var(--space-2);
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.6rem rgba(#030712, 0.2);
  z-index: var(--z-index-lvl-4);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.custom-alert {
  background-color: var(--color-gray-dark);
}

.custom-alert-red {
  background-color: var(--color-red);
}

.show-alert {
  opacity: 0.95;
}
