.section-collection {
  position: relative;
  padding: calc(var(--space-header) + var(--space-4)) var(--space-4)
    var(--space-8);
  background-color: var(--color-background-light);
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(tab-port) {
    padding: calc(var(--space-header) + var(--space-4)) var(--space-3)
      var(--space-8);
  }

  @include respond(phone) {
    padding: calc(var(--space-header) + var(--space-4)) var(--space-1)
      var(--space-8);
  }

  @include bg-image(top);

  &__share-btn {
    position: absolute;
    top: 8rem;
    right: 8rem;

    @include respond(tab-port) {
      right: 5rem;
    }

    @include respond(phone) {
      right: 2.5rem;
    }
  }

  &__heading {
    text-transform: uppercase;
    margin-bottom: var(--space-4);

    @include respond(phone) {
      font-size: var(--font-size-3xl);
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 75vh;
    list-style: none;
    gap: var(--space-5);

    @include respond(phone) {
      gap: var(--space-3);
    }
  }
}

.custom-alert,
.custom-alert-red {
  position: fixed;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-text-light);
  padding: var(--space-1) var(--space-2);
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.6rem rgba(#030712, 0.2);
  z-index: var(--z-index-lvl-4);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.custom-alert {
  background-color: var(--color-gray-dark);
}

.custom-alert-red {
  background-color: var(--color-red);
}

.show-alert {
  opacity: 0.95;
}
