.error-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-2);
    background-color: var(--color-background-light);
    padding: var(--space-3);
    border-radius: 1rem;

    @include respond(phone) {
      width: 100%;
      margin: var(--space-0) var(--space-7);
    }

    &__gif-container {
      width: 20rem;
      margin: 0 auto;
      border-radius: 2rem;
      overflow: hidden;

      &__gif {
        width: 100%;
        height: 100%;
      }
    }

    &__alert-message {
      text-transform: none;
      font-weight: normal;
      color: var(--color-red);

      @include respond(phone) {
        margin: 0 auto;
      }

      &--sub {
        color: var(--color-gray-dark);
      }

      &__contact {
        @include respond(phone) {
          margin: 0 auto;
        }

        &--link {
          text-decoration: underline;
          color: var(--color-primary-dark);
        }
      }
    }

    &__btn {
      align-self: center;
    }
  }
}
