.homepage {
  background-color: var(--color-background-light);
  position: relative;

  &__modal {
    @include modal-container;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: var(--space-12);

    &__content {
      position: relative;
      background-color: var(--color-background-light);
      width: 90%;
      max-width: 70rem;
      border-radius: 2rem;
      overflow: hidden;
      transition: all 0.2s;

      &__search-form {
        border-bottom: 1px solid rgba(var(--color-shadow-rgb), 0.2);

        &__search-bar-container {
          display: flex;
          align-items: center;
          overflow: hidden;
          padding: var(--space-1) var(--space-3);

          &__search-bar {
            padding: var(--space-1);
            border: none;
            width: 100%;
            transition: all 0.3s;
            font-size: var(--font-size-xl);
            color: var(--color-gray-dark);
            font-family: var(--font-primary);
            background-color: var(--color-background-light);

            &::placeholder {
              font-size: var(--font-size-l);
              text-transform: capitalize;
              color: var(--color-gray-light);
              font-weight: bold;
            }

            &:focus {
              outline: none;
            }
          }

          &__search-btn {
            border: none;
            transition: all 0.2s;
            cursor: pointer;
            background-color: var(--color-background-light);
            padding: var(--space-1);

            &__svg {
              height: 2.6rem;
              width: 2.6rem;
              fill: rgba(var(--color-primary-light-rgb), 1);
            }
          }
        }
      }

      &__suggestions {
        max-height: 50vh;
        overflow: auto;
        box-shadow: 0 0.3rem 1rem rgba(var(--color-shadow-rgb), 0.15);
        transition: all 0.2s;

        @include scroll-bar;
      }
    }
  }
}

// ------------------------
// Section Hero
// ------------------------

.hero {
  display: flex;
  height: 70vh;
  padding: calc(var(--space-header) + var(--space-4)) var(--space-10)
    var(--space-0);
  position: relative;
  box-shadow: 0 2 0.4rem rgba(var(--color-shadow-rgb), 0.5);

  @include respond(tab-port) {
    padding: calc(var(--space-header) + var(--space-4)) var(--space-5)
      var(--space-0);
  }

  @include respond(phone) {
    padding: calc(var(--space-header) + var(--space-4)) var(--space-3)
      var(--space-0);
  }

  @include bg-image(top);

  &__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond(phone) {
      width: 100%;
    }

    &__center-container {
      &__heading {
        &--main {
          margin-bottom: var(--space-1);
          display: flex;
          flex-direction: column;

          &__top {
            margin-top: var(--space-neg-1);
          }
        }

        &--sub {
          display: flex;
          flex-direction: column;
        }
      }

      &__search-btn {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid rgba(var(--color-primary-light-rgb), 0.4);
        background-color: var(--color-white);
        border-radius: 1rem;
        padding: var(--space-1) var(--space-3);
        cursor: pointer;
        margin: var(--space-4) 0 0;
        transition: all 0.1s;

        @include respond(phone) {
          width: 100%;
          margin: var(--space-4) auto 0;
          justify-content: space-between;
        }

        &:hover {
          border: 1px solid rgba(var(--color-primary-light-rgb), 0.6);
        }

        &__svg {
          height: 2.6rem;
          width: 2.6rem;
          fill: rgba(var(--color-primary-light-rgb), 0.8);
        }

        &__text {
          margin-right: var(--space-2);
          font-size: var(--font-size-m);
          color: var(--color-gray-light);
          font-weight: bold;
        }
      }
    }
  }

  &__img {
    width: 50%;
    text-align: center;
    margin: auto;

    @include respond(phone) {
      display: none;
      width: 0%;
    }

    &__svg {
      width: 40rem;
      height: 35rem;
    }
  }
}

// ------------------------
// Section Collection Info
// ------------------------

.section-collection-info {
  padding: var(--space-0) var(--space-10);

  @include respond(tab-port) {
    padding: var(--space-0) var(--space-5);
  }

  @include respond(phone) {
    padding: var(--space-0) var(--space-3);
  }

  &__heading {
    text-align: center;
    margin-bottom: var(--space-7);

    @include respond(phone) {
      margin: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: var(--space-12);
    padding: var(--space-4);

    @include respond(tab-port) {
      padding: var(--space-4) var(--space-4) var(--space-0);
    }

    @include respond(phone) {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      gap: var(--space-10);
    }

    &__text {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include respond(phone) {
        width: 100%;
        margin: auto;
        padding: var(--space-3) var(--space-4);
      }

      & > ul {
        list-style: none;
        position: relative;
        height: 30rem;

        @include respond(phone) {
          height: 20rem;
        }
      }

      &__text-box {
        flex: 1;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        visibility: hidden;
        opacity: 0;
        width: 100%;
        max-width: 45rem;
        min-width: 25rem;

        @include respond(phone) {
          width: 80%;
          max-width: none;
          left: 50%;
          transform: translateX(-50%);
        }

        &__heading {
          margin-bottom: var(--space-1);
        }
      }
    }

    &__img-container {
      flex: 1;
      position: relative;
      height: 30rem;
      list-style: none;

      @include respond(phone) {
        width: 100%;
        height: auto;
        margin: auto;
        padding: var(--space-3) var(--space-4);
      }

      &__img-box {
        width: 40rem;
        height: auto;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        transform-origin: center;
        border-radius: 2rem;
        overflow: hidden;
        filter: blur(0.3rem);
        transition: all 0.2s;

        @include respond(tab-port) {
          width: 35rem;
        }

        @include respond(phone) {
          right: 50%;
          top: 0;
          transform: translateX(50%);
          width: 30rem;
        }

        &--front {
          filter: blur(0);
          z-index: var(--z-index-lvl-1);
          box-shadow: 0 0.4rem 2rem rgba(var(--color-shadow-rgb), 0.3);
        }

        &--middle {
          top: 70%;
          transform: translateY(-50%) scale(0.9);
        }

        &--back {
          top: 30%;
          transform: translateY(-50%) scale(0.9);
        }

        @include respond(phone) {
          &--front {
            visibility: visible;
            opacity: 1;
          }

          &--middle,
          &--back {
            right: 50%;
            top: 0;
            transform: translateX(50%);
            visibility: hidden;
            opacity: 0;
          }
        }

        &__img {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  &__progress {
    align-self: flex-start;
    transform: translateY(-40%);
    margin: var(--space-05) 0 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: var(--space-05);

    @include respond(phone) {
      align-self: center;
      transform: translateY(140%);
      margin: var(--space-1) 0 0;
    }

    &__count {
      &__text {
        color: var(--color-primary-dark);
        font-weight: bold;
        font-size: var(--font-size-s);
      }
    }

    &__bar {
      border: 1px solid var(--color-primary-light);
      width: 6rem;
      height: 0.6rem;
      border-radius: 10rem;
      overflow: hidden;

      @include respond(phone) {
        margin: 0 auto;
      }

      &__fill {
        display: block;
        width: 6rem;
        height: 0.4rem;
        background-color: var(--color-primary-light);
        animation: progress-bar 5s linear infinite;
      }
    }
  }
}

.text-active {
  opacity: 1;
  visibility: visible;
}

// ------------------------
// Section Find
// ------------------------

.section-find-info {
  padding: var(--space-8) var(--space-10) var(--space-7);
  position: relative;
  box-shadow: 0 0 0.4rem rgb(3 7 18 / 10%);

  @include respond(phone) {
    padding: var(--space-8) var(--space-2) var(--space-7);
  }

  @include bg-image(bottom);

  &__heading {
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: var(--space-12);

    @include respond(phone) {
      margin-top: var(--space-8);
    }

    &__info-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__text-box {
        display: flex;
        flex-wrap: wrap;
        padding: var(--space-1) var(--space-2);
        border: 2px solid rgba(var(--color-gray-light-rgb), 0.45);
        border-radius: 2rem;
        margin: 0 auto 0.5rem;

        @include respond(phone) {
          padding: var(--space-05) var(--space-1);
        }

        &--2 {
          transform: translateY(-4.2rem);

          @include respond(tab-port) {
            transform: translateY(0);
          }
        }

        &__svg {
          height: 4rem;
          width: 4rem;
          fill: var(--color-primary);
          margin-right: 1rem;

          @include respond(phone) {
            height: 3.5rem;
            width: 3.5rem;
          }
        }

        &__text {
          text-align: center;
          margin: auto;
          text-transform: capitalize;
          letter-spacing: 0.08rem;
          word-spacing: 0.1rem;
          color: var(--color-text-dark);
          font-weight: bold;
        }
      }

      &__img-box {
        &__svg {
          height: 25rem;

          @include respond(phone) {
            height: 20rem;
          }

          &--2 {
            height: 30rem;
            transform: translateY(-4.2rem);

            @include respond(tab-port) {
              transform: translateY(0);
            }

            @include respond(phone) {
              height: 20rem;
              margin-bottom: -0.65rem;
            }
          }
        }
      }
    }
  }
}
