.homepage {
  background-color: var(--color-background-light);
}

// ------------------------
// Section Hero
// ------------------------

.hero {
  display: flex;
  height: 60vh;
  padding: var(--space-4) var(--space-10) var(--space-0);
  background-image: linear-gradient(
      60deg,
      rgb(224 242 254 / 85%) 50%,
      rgb(224 242 254 / 85%) 50%
    ),
    url('/src/img/background.webp');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(1.5rem);
  position: relative;
  box-shadow: 0 2 0.4rem rgb(3 7 18 / 5%);

  &::after {
    content: '';
    height: 60vh;
    width: 100%;
    z-index: var(--z-index-lvl-neg-1);
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(1.5rem);
  }

  &__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__heading {
      &--main {
        margin-bottom: var(--space-1);
        display: flex;
        flex-direction: column;

        &__top {
          margin-top: var(--space-neg-1);
        }
      }

      &--sub {
        display: flex;
        flex-direction: column;
      }
    }

    &__search-form {
      margin-top: var(--space-4);
      display: flex;
      flex-direction: column-reverse;
      position: relative;

      &__search-bar {
        padding: var(--space-2) var(--space-4);
        outline: none;
        border: 2px solid transparent;
        border-radius: 10rem;
        font-size: var(--font-size-l);
        margin-right: 1rem;
        transition: all 0.2s;

        &::placeholder {
          color: var(--color-gray-light);
          font-weight: 900;
        }

        &:focus {
          border: 2px solid var(--color-primary-light);
          box-shadow: 0 0.8rem 3rem rgba(#030712, 0.1);
        }
      }

      &__btn {
        position: absolute;
        top: 0.1rem;
        right: 0.9rem;
        border-radius: 10rem;
        font-size: var(--font-size-xl);
        background-color: var(--color-primary-light);
        padding: var(--space-2) var(--space-4);
        border: none;
        cursor: pointer;
        color: var(--color-text-light);
        transition: all 0.2s;

        &:hover {
          background-color: var(--color-primary);
        }
      }
    }
  }

  &__img {
    width: 50%;
    text-align: center;
    margin: auto;

    &__svg {
      width: 40rem;
      height: 35rem;
    }
  }
}

// ------------------------
// Section Collection Info
// ------------------------

.section-collection-info {
  padding: var(--space-0) var(--space-10);

  &__heading {
    text-align: center;
  }

  &__content {
    display: flex;
    height: 50vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;

    &__text {
      min-width: 20rem;
      width: 50%;

      & > ul {
        list-style: none;
        position: relative;
        height: 50vh;
      }

      &__text-box {
        position: absolute;
        top: 46%;
        left: 55%;
        width: 60%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
      }
    }

    &__img-container {
      min-width: 20rem;
      width: 50%;

      & > ul {
        list-style: none;
        position: relative;
        height: 50vh;
      }

      &__img-box {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        width: 60%;
        filter: blur(0.3rem);
        border-radius: 2rem;
        overflow: hidden;
        transition: all 0.2s;
        transform-origin: center;

        &--front {
          filter: blur(0);
          z-index: var(--z-index-lvl-1);
        }

        &--middle {
          transform: translate(-50%, -90%) scale(0.9);
        }

        &--back {
          transform: translate(-50%, -10%) scale(0.9);
        }

        &__img {
          display: block;
          height: 25rem;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  &__progress {
    border: 2px solid var(--color-primary-light);
    width: 6rem;
    height: 0.6rem;
    margin: auto;
    border-radius: 10rem;
    overflow: hidden;
    margin-top: 1rem;

    &__fill {
      display: block;
      width: 6rem;
      height: 0.4rem;
      background-color: var(--color-primary-light);
      animation: progress-bar 5s linear infinite;
    }
  }
}

.text-active {
  opacity: 1;
  visibility: visible;
}

// ------------------------
// Section Find
// ------------------------

.section-find-info {
  padding: var(--space-8) var(--space-10) var(--space-7);
  background-image: linear-gradient(
      60deg,
      rgb(224 242 254 / 85%) 50%,
      rgb(224 242 254 / 85%) 50%
    ),
    url('/src/img/background.webp');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(1.5rem);
  position: relative;
  box-shadow: 0 0 0.4rem rgb(3 7 18 / 10%);

  &::after {
    content: '';
    height: 100%;
    width: 100%;
    z-index: var(--z-index-lvl-neg-1);
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(1.5rem);
  }

  &__heading {
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: var(--space-12);

    &__info-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__text-box {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 2rem;
        border: 2px solid var(--color-border-dark);
        border-radius: 2rem;
        margin: 0 auto 0.5rem;

        &--2 {
          transform: translateY(-4.2rem);
        }

        &__svg {
          height: 4rem;
          width: 4rem;
          fill: var(--color-primary);
          margin-right: 1rem;
        }

        &__text {
          text-align: center;
          margin: auto;
          text-transform: capitalize;
          letter-spacing: 0.08rem;
          word-spacing: 0.1rem;
          color: var(--color-primary-dark);
          font-weight: bold;
        }
      }

      &__img-box {
        &__svg {
          height: 25rem;

          &--2 {
            height: 30rem;
            transform: translateY(-4.2rem);
          }
        }
      }
    }
  }
}
