.homepage {
  padding: var(--space-4) var(--space-10);
}

// ------------------------
// Section Hero
// ------------------------

.hero {
  display: flex;
  height: 60vh;

  &__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__heading {
      &--main {
        margin-bottom: var(--space-1);
        display: flex;
        flex-direction: column;

        &__top {
          margin-top: var(--space-neg-1);
        }
      }

      &--sub {
        display: flex;
        flex-direction: column;
      }
    }

    &__search-form {
      margin-top: var(--space-4);
      display: flex;
      flex-direction: column-reverse;
      position: relative;

      &__search-bar {
        padding: var(--space-2) var(--space-4);
        outline: none;
        border: 2px solid var(--color-gray-light);
        border-radius: 10rem;
        font-size: var(--font-size-l);
        margin-right: 1rem;
        transition: all 0.2s;

        &::placeholder {
          color: var(--color-gray-light);
          font-weight: 900;
        }

        &:focus {
          border: 2px solid var(--color-primary-light);
          box-shadow: 0 0.8rem 3rem rgba(#030712, 0.1);
        }
      }

      &__btn {
        position: absolute;
        top: 0.1rem;
        right: 0.9rem;
        border-radius: 10rem;
        font-size: var(--font-size-xl);
        background-color: var(--color-primary-light);
        padding: var(--space-2) var(--space-4);
        border: none;
        cursor: pointer;
        color: var(--color-text-light);
        transition: all 0.2s;

        &:hover {
          background-color: var(--color-primary);
        }
      }
    }
  }

  &__img {
    width: 50%;
    text-align: center;
    margin: auto;

    &__svg {
      width: 40rem;
      height: 35rem;
    }
  }
}

// ------------------------
// Section Collection Info
// ------------------------

.section-collection-info {
  &__heading {
    text-align: center;
  }

  &__content {
    display: flex;
    height: 50vh;

    &__text {
      width: 50%;
      position: relative;

      & > ul {
        list-style: none;
      }

      &__text-box {
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
      }
    }

    &__img-container {
      width: 50%;
      position: relative;

      & > ul {
        list-style: none;
      }

      &__img-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: blur(0.3rem);
        border-radius: 2rem;
        overflow: hidden;

        &--1 {
          top: 35%;
          left: 40%;
        }

        &--2 {
          left: 60%;
          top: 45%;
        }

        &--3 {
          top: 55%;
          left: 45%;
        }

        &__img {
          display: block;
          height: 25rem;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

.text-active {
  opacity: 1;
  visibility: visible;
}

.img-active {
  filter: blur(0);
}

// ------------------------
// Section Find
// ------------------------

.section-find {
  display: flex;
  margin: var(--space-10) var(--space-0);
  flex-direction: column;
  align-items: center;

  @include respond(phone) {
    margin: var(--space-0);
  }

  &__heading {
    margin-bottom: var(--space-10);
  }

  &__container {
    background-color: var(--color-background-light);
    width: 85%;
    padding: var(--space-10) var(--space-0);

    @include respond(tab-land) {
      padding: var(--space-7) var(--space-0);
      width: 95%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__search-info-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: var(--space-3) var(--space-5);
    width: 100%;

    @include respond(tab-land) {
      padding: var(--space-3);
    }

    @include respond(phone) {
      flex-direction: column;
    }

    &__vid {
      flex: 0 0 55%;

      & video {
        display: block;
        width: 100%;
        border-radius: 6rem;
        box-shadow: 0 2rem 5rem rgba(#000, 0.2);

        @include respond(phone) {
          width: 90%;
          margin: var(--space-0) auto;
        }
      }
    }

    &__text {
      flex: 0 0 40%;
      display: flex;
      flex-direction: column;

      @include respond(tab-port) {
        flex: 0 0 45%;
      }

      @include respond(phone) {
        margin-top: var(--space-4);
      }

      &__icon-box {
        display: flex;
        align-items: center;
        margin: var(--space-0) auto;
        width: 70%;
        margin-bottom: var(--space-3);
        padding: var(--space-1);

        @include respond(phone) {
          width: 85%;
        }

        &__icon {
          height: 4.5rem;
          width: 4.5rem;
          margin-right: var(--space-5);
          fill: var(--color-primary);

          @include respond(phone) {
            height: 4rem;
            width: 4rem;
          }
        }

        &__text {
          flex: 1 0 0;
          font-size: var(--font-size-m);
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          font-weight: bold;
          color: var(--color-primary-dark);
        }
      }
    }
  }

  &__btn {
    display: block;
    margin: var(--space-0) auto;
    margin-top: var(--space-1);

    @include respond(phone) {
      margin-top: var(--space-3);
    }
  }
}
