.section-search {
  margin: 0 auto;
  position: relative;
  background-color: var(--color-background-light);

  &__user-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: calc(var(--space-header) + var(--space-3)) var(--space-2)
      var(--space-3);
    z-index: var(--z-index-lvl-2); // creating a stacking context
    position: relative;

    @include respond(tab-port) {
      padding: calc(var(--space-header) + var(--space-2)) var(--space-1)
        var(--space-2);
    }

    @include bg-image(top);

    &__max-width-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: 100%;
      max-width: 120rem;

      &__search {
        width: 50%;
        z-index: var(--z-index-lvl-2); // creating a stacking context
        position: relative;

        @include respond(tab-land) {
          width: 55%;
        }

        @include respond(tab-port) {
          width: 60%;
        }

        @include respond(phone) {
          width: 85%;
          margin-top: var(--space-3);
        }

        &__search-bar-container {
          box-shadow: 0 0 1rem rgba(var(--color-shadow-rgb), 0.1);
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          margin: 0 auto var(--space-1);
          border-radius: 1rem;
          overflow: hidden;

          &::after {
            display: block;
            content: '';
            height: 0.2rem;
            position: absolute;
            top: 3.85rem;
            left: 0.5rem;
            border-radius: 0 0 2rem 2rem;
            width: 0;
            background-color: rgba(var(--color-primary-rgb), 0.4);
            visibility: hidden;
            transition: all 0.3s;
            opacity: 0;
          }

          &.focused::after {
            width: 98.8%;
            visibility: visible;
            opacity: 1;
          }

          & input {
            border: none;
            padding: 0 var(--space-3);
            height: 4rem;
            width: 100%;
            margin-left: auto;
            transition: all 0.3s;
            font-size: var(--font-size-xl);
            color: var(--color-gray-dark);
            font-family: var(--font-primary);
            background-color: var(--color-white);

            @include respond(phone) {
              width: 100%;
            }

            &::placeholder {
              font-size: var(--font-size-l);
              color: var(--color-gray-light);
            }

            &:focus {
              outline: none;
            }
          }

          & button {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            transition: all 0.2s;
            cursor: pointer;
            background-color: var(--color-white);
            color: var(--color-primary-dark);
            margin-right: auto;
            padding: var(--space-2);
            height: 4rem;
            font-size: var(--font-size-s);

            &:hover {
              background-color: var(--color-background-light);
            }

            &:active {
              background-color: var(--color-white);
            }

            & svg {
              fill: var(--color-primary);
              height: 2rem;
              width: 2rem;
            }
          }

          &__powered-by {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -7rem;
            text-decoration: none;

            @include respond(large-screen) {
              right: -6rem;
            }

            @include respond(tab-land) {
              right: -8rem;
            }

            @include respond(tab-port) {
              right: -8.2rem;
            }

            @include respond(phone) {
              top: -40%;
              right: 0;
            }

            &--img {
              display: block;

              @include respond(tab-port) {
                height: 3.5rem;
              }

              @include respond(phone) {
                height: 2.8rem;
              }
            }
          }
        }

        &__suggestions {
          position: absolute;
          width: 100%;
          max-height: 30vh;
          border-radius: 1rem;
          overflow: auto;
          box-shadow: 0 0.3rem 1rem rgba(var(--color-shadow-rgb), 0.15);

          @include scroll-bar;
        }
      }

      &__categories {
        margin: var(--space-4) auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        @include respond(phone) {
          margin: var(--space-3) auto 0;
          gap: 0.5rem;
        }

        &__btn {
          padding: var(--space-1);
          flex-basis: 12rem;
          text-align: center;
          font-size: var(--font-size-s);
          cursor: pointer;
          margin-bottom: var(--space-2);
          color: var(--color-primary-dark);
          border: 1px solid rgba(var(--color-primary-light-rgb), 0.8);
          background-color: var(--color-background-light);
          border-radius: 1rem;
          transition: all 0.2s;

          @include respond(phone) {
            flex-basis: 9rem;
          }

          &:hover {
            transform: translateY(-0.15rem);
            box-shadow: 0 0.3rem 0.5rem rgba(var(--color-shadow-rgb), 0.1);
          }

          &:active {
            transform: translateY(-0.08rem);
            box-shadow: 0 0.3rem 0.5rem rgba(var(--color-shadow-rgb), 0.1);
          }

          &--active {
            border: none;
            color: var(--color-text-light);
            background-color: var(--color-primary);
            transform: translateY(-0.15rem);
            font-weight: bold;
          }
        }
      }
    }
  }

  &__results {
    min-height: 75vh;
    padding: var(--space-7) var(--space-0) var(--space-10);
    background-color: var(--color-background-light);
    width: 100%;
    max-width: 120rem;
    margin: auto;

    @include respond(tab-port) {
      padding: var(--space-5) var(--space-0) var(--space-8);
    }

    &__collection-controller {
      position: fixed;
      bottom: 4.4rem;
      right: 2rem;
      background-color: var(--color-background-light);
      box-shadow: 0.1rem 0.4rem 1.6rem rgba(var(--color-shadow-rgb), 0.4);
      border-radius: 1rem;
      padding: var(--space-1) var(--space-2);
      z-index: var(--z-index-lvl-2);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &--hidden {
        display: none;
      }

      &__text-container {
        padding: var(--space-05);

        &__count-display {
          padding: var(--space-05) var(--space-1);
          font-size: var(--font-size-m);

          &--count {
            font-weight: 600;
          }
        }
      }

      &__btn-container {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        width: 100%;
        gap: var(--space-1);

        &__btn-done,
        &__btn-reset {
          font-size: var(--font-size-s);
          padding: var(--space-1) var(--space-2);

          &--disabled {
            cursor: not-allowed;
          }
        }

        &__btn-done {
          border: 1px solid transparent;

          &--disabled {
            background-color: rgba(var(--color-primary-light-rgb), 0.6);

            &:hover {
              box-shadow: none;
              transform: translate(0);
            }
          }
        }

        &__btn-reset {
          background-color: var(--color-background-light);
          border: 1px solid var(--color-primary-light);
          color: var(--color-primary);
          font-weight: normal;

          &--disabled {
            background-color: rgba(var(--color-gray-light-rgb), 0.6);
            color: var(--color-text-light);
            font-weight: bold;
            border: 1px solid transparent;

            &:hover {
              box-shadow: none;
              transform: translate(0);
            }
          }
        }
      }
    }

    &__results-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: var(--space-2) var(--space-4);

      @include respond(large-screen) {
        padding: var(--space-2) var(--space-0);
      }

      // @include respond(tab-land) {
      //   padding: var(--space-2) var(--space-10);
      // }

      // @include respond(tab-port) {
      //   padding: var(--space-2) var(--space-5);
      // }

      @include respond(phone) {
        padding: var(--space-2) var(--space-1);
      }

      &__card-container {
        display: flex;
        flex-direction: column;

        &__text {
          padding: var(--space-0) var(--space-4) var(--space-3);
          color: var(--color-gray-light);
          margin-left: var(--space-neg-1);
          align-self: flex-start;

          &--count {
            color: var(--color-text-dark);
          }
        }

        &__cards {
          position: relative;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          margin: 0 auto;
          gap: var(--space-4);

          @include respond(tab-land) {
            gap: var(--space-3);
          }

          @include respond(tab-port) {
            gap: var(--space-2);
          }

          @include respond(phone) {
            gap: var(--space-2);
            width: 100%;
          }
        }
      }
    }
  }

  &__modal {
    @include modal-container;

    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: var(--space-4);
      width: 90%;
      max-width: 50rem;
      border-radius: 2rem;
      overflow: hidden;
      transition: all 0.2s;
      gap: var(--space-05);

      @include bg-image(top);

      @include respond(phone) {
        padding: var(--space-3);
      }

      &__close-btn {
        position: absolute;
        top: 1.8rem;
        right: 1.8rem;
        border: none;
        cursor: pointer;
        transition: all 0.2s;
        background-color: transparent;
        border-radius: 0.6rem;

        &:hover {
          background-color: rgba(var(--color-gray-light-rgb), 0.25);
        }

        &:active {
          background-color: rgba(var(--color-gray-light-rgb), 0.15);
        }

        &__svg {
          display: block;
          height: 2.5rem;
          width: 2.5rem;
          fill: var(--color-primary);
        }
      }

      &__heading {
        color: var(--color-primary);
        margin-bottom: var(--space-3);
      }

      &__msg,
      &__err-msg {
        font-size: var(--font-size-l);
        font-weight: 700;
        margin-bottom: var(--space-1);
      }

      &__err-msg {
        color: var(--color-red);
      }

      &__msg {
        color: var(--color-primary-light);
      }

      &__form {
        position: relative;
        display: flex;
        flex-direction: column;

        &__input {
          display: block;
          padding: var(--space-2) var(--space-8) var(--space-2) var(--space-4);
          font-size: var(--font-size-l);
          border-radius: 2rem;
          border: none;
          transition: box-shadow 0.2s;
          background-color: var(--color-background);
          color: var(--color-gray-dark);
          box-shadow: 0.1rem 0.2rem 1.2rem rgba(var(--color-shadow-rgb), 0.2);

          &::placeholder {
            font-size: var(--font-size-m);
            text-transform: capitalize;
            color: var(--color-gray-light);
          }

          &:focus {
            outline: none;
            box-shadow: 0.1rem 0.4rem 1.6rem rgba(var(--color-shadow-rgb), 0.3);
          }
        }

        &__input-count {
          display: inline-block;
          position: absolute;
          top: 13%;
          right: 5%;
          font-size: var(--font-size-s);
          color: var(--color-gray-light);
        }

        &__btn {
          align-self: center;
          margin-top: var(--space-4);
          font-size: var(--font-size-l);
          visibility: visible;
          opacity: 1;

          &--hidden {
            visibility: hidden;
            opacity: 0;
            height: 0;
          }
        }
      }

      &__choice-container {
        display: none;
        padding: 0 var(--space-1);
        flex-grow: 4;
        justify-content: space-between;
        width: 100%;
        gap: var(--space-2);

        &--active {
          display: flex;
        }

        &__btn {
          text-align: center;
          box-shadow: 0.1rem 0.4rem 1rem rgba(var(--color-shadow-rgb), 0.2);
          width: 50%;
          padding: var(--space-2) var(--space-1);
          border: 1px solid transparent;

          &--create-more {
            background-color: var(--color-background-light);
            color: var(--color-primary);
            font-weight: normal;
            border: 2px solid var(--color-primary-light);
          }
        }
      }
    }
  }
}

.collection-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-5);
}
