.section-search {
  padding: var(--space-12) var(--space-5) var(--space-7);
  background-image: linear-gradient(
    to bottom,
    var(--color-primary-light),
    var(--color-primary)
  );

  @include respond(tab-land) {
    padding: var(--space-12) var(--space-3) var(--space-4);
  }

  @include respond(tab-port) {
    padding: var(--space-12) var(--space-0) var(--space-7);
  }

  &__heading {
    text-align: center;
  }

  &__container {
    display: flex;
    max-height: 75vh;

    &__search-section {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: var(--space-4) var(--space-3);
      background-color: var(--color-background-light);
      width: 100%;

      @include respond(tab-land) {
        padding: var(--space-4) var(--space-2);
      }

      @include respond(tab-port) {
        padding: var(--space-3) var(--space-1);
      }

      @include respond(phone) {
        padding: var(--space-2) var(--space-05);
      }

      &__search-bar-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        margin-bottom: var(--space-1);

        @include respond(tab-port) {
          width: 80%;
        }

        @include respond(phone) {
          width: 95%;
        }

        & input {
          border: none;
          border-radius: 4rem;
          padding: var(--space-3);
          width: 90%;
          transition: all 0.3s;
          box-shadow: 0 0.3rem 0.5rem rgba(#000, 0.2);
          font-size: var(--font-size-xl);
          color: var(--color-gray-dark);
          font-family: var(--font-primary);

          @include respond(phone) {
            width: 100%;
          }

          &::placeholder {
            font-size: var(--font-size-xl);
            text-transform: capitalize;
            color: var(--color-gray-light);
          }

          &:focus {
            outline: none;
            box-shadow: 0 1.5rem 3rem rgba(#000, 0.2);
          }
        }

        & button {
          border: none;
          border-radius: 4rem;
          padding: var(--space-3);
          width: 14%;
          font-size: var(--space-2);
          background-image: linear-gradient(
            to right,
            var(--color-primary-light),
            var(--color-primary)
          );
          color: var(--color-text-light);
          font-weight: bold;
          position: absolute;
          transition: all 0.2s;
          cursor: pointer;

          @include respond(tab-port) {
            width: 16%;
          }

          @include respond(phone) {
            width: 22%;
          }

          &:hover {
            transform: scale(1.05);
          }

          &:active {
            transform: scale(1.02);
          }
        }
      }

      &__search-results-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: var(--space-0) var(--space-3);
        margin-top: var(--space-4);
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        list-style: none;

        @include respond(phone) {
          padding: var(--space-0);
        }

        &::-webkit-scrollbar {
          background-color: var(--color-background);
          width: 0.8rem;

          @include respond(phone) {
            width: 0.5rem;
          }

          &-track {
            background: var(--color-primary-light);
            border-radius: 2rem;
          }

          &-thumb {
            border-radius: 2rem;
            background: var(--color-background);
            border: 1px solid var(--color-primary-light);

            &:hover {
              background: var(--color-background-light);
            }
          }
        }
      }
    }
  }
}

.collection-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.collection-btn {
  display: block;
  position: absolute;
  top: 5rem;
  right: 5rem;
  z-index: var(--z-index-lvl-1);
  font-size: var(--font-size-m);

  &__disabled {
    display: none;
  }
}

.selected-books-count {
  position: absolute;
  right: 3.5rem;
  top: 10rem;
}
