.card {
  width: 20rem;
  background-color: var(--color-background);
  box-shadow: 0.2rem 0.4rem 1.2rem rgba(var(--color-shadow-rgb), 0.5);
  list-style: none;
  display: block;
  align-self: flex-start;
  border-radius: 1rem;
  overflow: hidden;

  @include respond(tab-land) {
    width: 18.5rem;
  }

  @include respond(phone) {
    width: 17.5rem;
  }

  &--1 {
    height: 38.5rem;

    &__link {
      text-decoration: none;
    }

    &__img-container {
      height: 25rem;
      width: 100%;
      cursor: pointer;
      overflow: hidden;
      position: relative;

      &__img {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        transition:
          transform 0.2s,
          filter 0.2s;
      }

      &__shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-shadow);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-text-light);
        font-weight: bold;
        font-size: var(--font-size-m);
        opacity: 0;
        transition: opacity 0.2s;

        & span {
          color: inherit;
          transition: color 0.1s;

          &:hover {
            color: var(--color-primary);
          }
        }
      }

      &:hover &__shadow {
        opacity: 0.8;
      }

      &:hover &__img {
        transform: scale(1.1);
        filter: blur(0.3rem);
      }
    }

    &__text-container {
      padding: var(--space-2);
      display: flex;
      flex-direction: column;
      margin-bottom: var(--space-1);

      &__title {
        font-weight: bold;
        display: inline;
      }

      &__btn {
        position: absolute;
        align-self: flex-end;
        display: inline-flex;
        border: none;
        background-color: inherit;
        text-align: right;
        margin-bottom: var(--space-05);
        cursor: pointer;

        & svg {
          width: 4rem;
          height: 3rem;
          transition: transform 0.2s;

          &:hover {
            transform: scale(1.1);
          }

          &:active {
            transform: scale(1.02);
          }
        }
      }
    }
  }

  &--2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: inherit;
    height: 34rem;

    &__img-container {
      position: relative;
      display: flex;
      height: 17rem;
      align-items: center;
      justify-content: center;

      &__img {
        width: 55%;
        position: absolute;
        margin: auto;
        transition: all 0.2s;
        box-shadow: 0 0.5rem 1rem rgba(#030712, 0.3);

        &--1 {
          // top: 0;
          left: -0.1rem;
        }

        &--2 {
          // top: 0;
          left: 4rem;
        }

        &--3 {
          // top: 0;
          left: 9rem;
        }

        &:hover {
          outline: 0.2rem solid var(--color-gray-light);
          transform: scale(1.01) translateY(-0.2rem);
          box-shadow: 0 2.5rem 4rem rgba(#030712, 0.5);
          z-index: 20;
        }
      }
    }

    &__text-container {
      display: flex;
      flex-direction: column;
      padding: var(--space-1) 0;
      align-items: center;
      text-align: center;

      &__books {
        margin: var(--space-1) 0 0 0;
        color: var(--color-gray-dark);
      }

      &__title {
        margin: var(--space-1) 0;
        background-color: var(--color-primary-dark);
        width: 100%;
        color: var(--color-text-light);
        font-weight: bold;
      }

      &__btn {
        &--view-link {
          text-decoration: none;
          color: var(--color-text-light);
        }

        &--view {
          margin-bottom: var(--space-1);
          text-decoration: none;
        }

        &--delete {
          background-color: var(--color-red);
        }
      }
    }
  }
}
