.spinner {
  z-index: var(--z-index-lvl-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__svg-1,
  &__svg-2 {
    height: 6rem;
    width: 6rem;
    position: absolute;
  }

  &__svg-1 {
    top: 1rem;
    animation: loader-up 1s infinite linear;
  }

  &__svg-2 {
    top: -1rem;
    animation: loader-down 1s infinite linear;
  }
}
