.footer {
  padding: var(--space-2) var(--space-4);
  background-color: var(--color-gray-dark);
  display: flex;
  flex-direction: column;
  position: relative;

  &__logo {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    &--book {
      height: 4.5rem;
      width: 8rem;
    }

    &--text {
      height: 3.8rem;
      width: 18rem;
    }
  }

  &__sub-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    margin: 0 auto;
    font-size: var(--font-size-l);

    &__svg {
      display: inline-block;
      height: 1.8rem;
      width: 1.8rem;
      fill: var(--color-white);
      stroke-width: 0.1rem;
      stroke: var(--color-white);
      margin-left: var(--space-05);
    }
  }

  &__link {
    width: fit-content;
    text-decoration: none;
    margin: var(--space-2) auto 0;
    transition: all 0.2s;
    padding: var(--space-05) var(--space-1);
    border-radius: 1rem;
    color: var(--color-text-light);
    fill: var(--color-text-light);

    &:hover {
      background-color: rgba(var(--color-gray-light-rgb), 0.2);
    }

    &:active {
      background-color: rgba(var(--color-gray-light-rgb), 0.4);
    }

    &__text-box {
      display: flex;
      justify-content: center;
      align-items: center;

      &__svg {
        height: 2.5rem;
        width: 2.5rem;
        margin-right: var(--space-1);
      }

      &__text {
        font-weight: bold;
      }
    }
  }
}
