.header {
  display: flex;
  position: fixed;
  z-index: 100;
  max-height: 10rem;
  width: 100%;
  padding: 2rem 4rem;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgb(55 65 81 / 30%),
    rgb(55 65 81 / 60%)
  );

  &__logo-container {
    flex: 0 0 5%;

    &__img {
      height: 100%;
      max-width: 100%;
    }
  }

  &__btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__btn {
      padding: 1rem 2rem;
      margin-left: 2rem;
      background-color: inherit;
      border: none;
      font-size: 1.6rem;
      color: var(--color-white);
      font-weight: bold;
      cursor: pointer;

      &::after {
        content: '';
        width: 0;
        background-image: linear-gradient(
          to right,
          var(--color-white) 40%,
          var(--color-white-dark)
        );
        display: block;
        margin-top: 0.2rem;
        height: 0.1rem;
        transition: all 0.2s;
        border-radius: 50rem;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
