.navigation {
  min-height: 6rem;
}

.header {
  display: flex;
  z-index: var(--z-index-lvl-3);
  min-height: 6rem;
  width: 100%;
  padding: var(--space-2) var(--space-5);
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    60deg,
    rgb(224 242 254 / 85%) 50%,
    rgb(224 242 254 / 85%) 50%
  );
  transition: all 0.2s ease-in;
  position: fixed;
  top: 0;
  left: 0;

  &--scrolled {
    box-shadow: 0.1rem 0.2rem 1.6rem rgb(3 7 18 / 10%);
    border-radius: 0 0 1rem 1rem;
    background-image: linear-gradient(
      60deg,
      rgb(240 249 255 / 95%) 50%,
      rgb(240 249 255 / 95%) 50%
    );
  }

  @include respond(tab-port) {
    padding: var(--space-3) var(--space-4);
  }

  @include respond(phone) {
    padding: var(--space-3);
  }

  &__logo-container {
    max-width: var(--space-7);

    &__img {
      display: block;
      max-width: 4.5rem;
      margin: auto;
    }
  }

  &__btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    @include respond(phone) {
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      width: 60%;
      position: absolute;
      left: 100%;
      top: 0;
      background-image: linear-gradient(to right, rgb(55 65 81), rgb(55 65 81));
      transition: all 0.25s;
      visibility: hidden;
    }

    &__btn-link {
      text-decoration: none;
      color: var(--color-primary);
      margin-left: var(--space-3);

      &.nav-active {
        color: var(--color-indigo);
      }

      &__btn {
        font-family: var(--font-family);
        border: none;
        padding: var(--space-1) var(--space-1);
        background-color: inherit;
        font-size: var(--font-size-l);
        color: inherit;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.2s;

        @include respond(phone) {
          position: relative;
          margin-bottom: var(--space-2);
        }

        &:active {
          opacity: 0.6;
        }

        &:hover {
          transform: translateY(-0.2rem);
        }
      }
    }
  }

  &__hamburger-container {
    display: none;
    position: relative;
    cursor: pointer;
    background-color: var(--color-background);
    clip-path: circle(50% at 50% 50%);
    padding: var(--space-4);
    z-index: var(--z-index-lvl-4);

    @include respond(phone) {
      display: block;
    }

    &__hamburger,
    &__hamburger::before,
    &__hamburger::after {
      height: 2px;
      width: 3.2rem;
      background-color: var(--color-primary-dark);
    }

    &__hamburger {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &::after,
      &::before {
        content: '';
        display: block;
        position: relative;
        transition: all 0.5s;
      }

      &::after {
        top: 0.8rem;
        left: 0;
      }

      &::before {
        top: -1rem;
        left: 0;
      }
    }
  }

  &__check {
    display: none;

    &:checked + .header__hamburger-container + .header__btn-container {
      left: 40%;
      visibility: visible;
    }

    &:checked
      + .header__hamburger-container
      .header__hamburger-container__hamburger {
      visibility: hidden;
      transition: all 0s;

      &::after {
        visibility: visible;
        transform: rotate(135deg);
        top: 0;
      }

      &::before {
        visibility: visible;
        transform: rotate(-135deg);
        top: 0.25rem;
      }
    }
  }
}
